.items {
    display: flex;
    gap: 25px;
    margin-bottom: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.favorites {
    display: flex;
    gap: 25px;
    overflow: auto;
    margin-bottom: 30px;
}